     <section class="hero">
       <div class="container mx-auto flex items-center justify-between my-5">
           <div class="w-1/2">
               <h6 class="text-lg"><em>Are You Hungry?</em></h6>
               <h1 class="text-6xl font-bold">Don't Wait </h1>
               <button class="px-6 py-2 rounded-full text-white mt-4 btn-primary " >Order Now</button>
           </div class="w-1/2">
           <div><img src="/img/img/hero-pizza.png" alt=""></div>
       </div>

        </section>
        <section class="menu container mx-auto py-8">
            <div class="notification ">Item add to cart</div>
            <h1 class="text-xl font-bold mb-8" >All Pizza </h1>
            <div class="grid grid-cols-4 cols-gap-12 row-gap-16">
             <% pizzas.forEach((curpizza)=>{ %> 

                <div class="w-64">
                    <img class="h-40 mb-4 mx-auto " src="/img/img/<%=curpizza.image%>" alt="">
                    <div class="text-center ">
                        <h2 class="mb-4 text-lg "> <%=curpizza.name%></h2>
                        <span class="size py-1 px-4 rounded-full upprcase text-xs"><%=curpizza.size%></span>
                        <div class="flex items-center justify-around mt-6">
                            <span class="font-bold text-lg ">₹<%=curpizza.price%></span>
                            <button  data-pizza="<%= JSON.stringify(curpizza) %>" class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                                 <span>+</span>
                                 <span class="ml-4">Add</span>
                            </button>
                        </div>
                    </div>
                </div>
                <% })%>
               
                
                    
           
            
                   
             
               
                </div>
            </div>
        </section>
 
 